<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>home</title>
  </head>
  <body>
    <!-- coding area -->
    <!-- start of navbar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Learn Code</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="covid19.html" target="_blank">COVID19</a>
                </li>
              </ul>
            </div>
        </div>
      </nav>

    <!-- end of navbar  -->

    <!-- header section  -->

      <header class="header">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-md-12 text-center">
              <h3>What are you thinking? Start Implementing your code!</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque blanditiis iure hic veniam officia 
                quas odit explicabo assumenda ipsa! Eius quibusdam minus dicta repellat, atque, quisquam sed quia 
                veritatis voluptatum totam architecto perferendis! Molestias sapiente, temporibus, quis numquam hic 
                natus nam iste, consectetur autem cum quos officia delectus at eius!
              </p>
              <button type="button" class="btn btn-primary">Start Implementing</button>
            </div>
          </div>
        </div>
      </header>

    <!-- end of header section  -->

    <!-- message section  -->

      <section class="message py-5">
        <div class="container text-center">
          <h3>We have got what you need!</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque non, sequi ab exercitationem facere 
            fugiat quasi molestias illo, aspernatur voluptatem quidem, assumenda omnis eveniet quaerat cupiditate 
            architecto alias laudantium beatae?
          </p>
          <button class="btn btn-primary">Check it out</button>
        </div>
      </section>

    <!-- end of message sectin  -->

    <!-- services section  -->

    <section class="services">

      <div class="container text-center py-5">

        <h3>About our services</h3>

          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-bar-chart myicon"></i>
                  <h4>Best Explanation</h3>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat nostrum, odit alias 
                    aut praesentium veritatis et quis necessitatibus natus vitae officiis consequuntur a labore ratione 
                    tempora expedita sed quod? Delectus?
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-asl-interpreting myicon"></i>
                  <h4>Best Explanation</h3>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat nostrum, odit alias 
                    aut praesentium veritatis et quis necessitatibus natus vitae officiis consequuntur a labore ratione 
                    tempora expedita sed quod? Delectus?
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-braille myicon"></i>
                  <h4>Best Explanation</h3>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat nostrum, odit alias 
                    aut praesentium veritatis et quis necessitatibus natus vitae officiis consequuntur a labore ratione 
                    tempora expedita sed quod? Delectus?
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>

    <!-- end services section  -->

    <!-- download section  -->

    <section class="message py-5">
      <div class="container text-center">
        <h3>Download and Start!!</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque non, sequi ab exercitationem facere 
          fugiat quasi molestias illo, aspernatur voluptatem quidem, assumenda omnis eveniet quaerat cupiditate 
          architecto alias laudantium beatae?
        </p>
        <button class="btn btn-primary">download</button>
      </div>
    </section>

    <!-- end of download section  -->

    <!-- contact section  -->

    <section class="contact">
      <div class="container text-center py-5">

        <h3>Let's Get In Touch</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ipsam minima nisi fugiat temporibus 
          quaerat nostrum aliquid possimus laudantium architecto!
        </p>  
        <i class="fa fa-phone myicon text-warning"></i>
        <i class="fa fa-heart myicon text-danger"></i>
        <p>+919108405536</p>
        <p>www.enlightensoft.com</p>
      </div>
    </section>

    <!-- end of contact section  -->

    <!-- link section  -->

    <section class="message py-5">
      <div class="container text-center">
        <h3>Important Links</h3>
        <div class="container">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-2">
              <p>Facebook</p>
              <p>Twitter</p>
              <p>Google</p>
            </div>
            <div class="col-md-2">
              <p>Enlighten</p>
              <p>GitHub</p>
              <p>W3school</p>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
        <button class="btn btn-primary">Thanks</button>
      </div>
    </section>

    <!-- end of link section  -->

    <!-- footer section  -->

    <section class="footer bg-dark">
      <div class="container py-5 text-white text-center">
        <p>Copyright &copy; 2020 Learnwith Deenanath</p>
      </div>
    </section>

    <!-- end of footer section  -->

    <!-- end of coding area -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
  </body>
</html>
